section
	.articles.categories
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.items
						.sizer
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
					.sitebar
						.cat
							h3 Категории
							ul
								li
									a(href="#") Категории-1
								li
									a(href="#") Категории-2
								li
									a(href="#") Категории-3
								li
									a(href="#") Категории-4
								li
									a(href="#") Категории-5
								li
									a(href="#") Категории-6
								li
									a(href="#") Категории-7
						.teg
							h3 Теги
							ul
								li
									a(href="#") Тег-1
								li
									a(href="#") Тег-2
								li
									a(href="#") #Длинный Тег-3
								li
									a(href="#") Тег-4
								li
									a(href="#") Тег-5
								li
									a(href="#") Тег-6
								li
									a(href="#") Тег-7
								li
									a(href="#") Тег-8
								li
									a(href="#") Тег-9
								li
									a(href="#") Тег-10
								li
									a(href="#") Тег-11
								li
									a(href="#") Тег-12
								li
									a(href="#") Тег-13
								li
									a(href="#") Тег-14
								li
									a(href="#") Тег-15
								li
									a(href="#") Тег-16
						.banner-sitebar
							img(src="img/image-3.jpg", alt="#")
