section
	.contacts
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.left-block
						p Связаться с нами Вы можете
							br
							| по телефонам:
						ul.tel.icon-tel
							li
								a(href="#") 8-000-000-00-00
							li
								a(href="#") 8-000-000-00-00
						p Либо написав нам на почту:
						ul.address
							li
								a.icon-mail(href="#") name@example.com
							li
								a.icon-marker(href="#") Улица, Город
						ul.soc
							li
								a.icon-whatsapp(href="#")
							li
								a.icon-viber(href="#")
							li
								a.icon-telegram(href="#")
					.right-block
						#map
