footer
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.logo
					img(src="img/logo-white.png", alt="#")
					h6 РЕЦЕПТ СЧАСТЬЯ
				ul.menu
					li
						a(href="#") Главная
					li
						a(href="#") О нас
					li
						a(href="#") Помощ на расстоянии и лично
					li
						a(href="#") Услуги
					li
						a(href="#") Гарантии
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
				form
					.input
						input(type="text" placeholder="Ваше имя")
					.input
						input(type="email" placeholder="Ваш Email")
					.input
						input(type="submit" value="Призыв к действию")
