header
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.logo
					a(href="#")
						img(src="img/logo.png", alt="#")
				.burger-menu
					span
					span
					span
				ul.menu
					li
						a(href="#") Главная
					li
						a(href="#") О нас
					li
						a(href="#") Помощ на расстоянии и лично
					li
						a(href="#") Услуги
					li
						a(href="#") Гарантии
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
