section
	.blog
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.banner(style='background-image:url(img/image-8.jpg)')
						h1 КАКИЕ ПРОБЛЕМЫ МЫ РЕШАЕМ
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptas ducimus enim, earum, iusto voluptates exercitationem veritatis corporis, voluptatem consectetur, provident. Animi, porro, praesentium! Doloribus dicta beatae nihil, a quae necessitatibus voluptates vero ipsa perspiciatis delectus ipsam dolorum rem modi voluptatibus, alias laudantium dignissimos! Excepturi porro voluptas repellat deserunt, et nisi eos neque saepe sunt impedit quo qui nostrum earum similique vitae aut, culpa ex dicta. Fuga accusantium autem ipsam reprehenderit beatae tenetur vel quas magni sapiente excepturi. Nobis vitae eius itaque. Fuga, odit. Unde, earum fuga quibusdam animi cupiditate nisi illo id voluptate itaque ullam voluptatem nesciunt ratione corporis laboriosam vero, repellendus. A pariatur dolores, sint, facilis itaque earum obcaecati inventore alias consequatur iste, eaque magnam dicta. At facere expedita itaque delectus quibusdam harum ipsum officia culpa nobis quasi sit magnam nam accusamus similique cupiditate repellendus, consectetur provident sequi sint autem sapiente sunt distinctio! Recusandae alias aperiam molestias sit.
					img.align-right(src="img/image-6.jpg", alt="#")
					p
						strong Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						a(href="#") Ut enim ad minim veniam, quis nostrud
						| exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					blockquote
						p
							i Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					img.align-left(src="img/image-7.jpg", alt="#")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						br
						| quis
						a(href="#") nostrud exercitation ullamco laboris nisi ut aliquip ex
						| ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					img.align-center(src="img/image-4.jpg", alt="#")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					a.button(href="#") Вернуться в каталог
