
<section>
  <div class="articles categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="items">
            <div class="sizer"></div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
          </div>
          <div class="sitebar">
            <div class="cat">
              <h3>Категории</h3>
              <ul>
                <li><a href="#">Категории-1</a></li>
                <li><a href="#">Категории-2</a></li>
                <li><a href="#">Категории-3</a></li>
                <li><a href="#">Категории-4</a></li>
                <li><a href="#">Категории-5</a></li>
                <li><a href="#">Категории-6</a></li>
                <li><a href="#">Категории-7</a></li>
              </ul>
            </div>
            <div class="teg">
              <h3>Теги</h3>
              <ul>
                <li><a href="#">Тег-1</a></li>
                <li><a href="#">Тег-2</a></li>
                <li><a href="#">#Длинный Тег-3</a></li>
                <li><a href="#">Тег-4</a></li>
                <li><a href="#">Тег-5</a></li>
                <li><a href="#">Тег-6</a></li>
                <li><a href="#">Тег-7</a></li>
                <li><a href="#">Тег-8</a></li>
                <li><a href="#">Тег-9</a></li>
                <li><a href="#">Тег-10</a></li>
                <li><a href="#">Тег-11</a></li>
                <li><a href="#">Тег-12</a></li>
                <li><a href="#">Тег-13</a></li>
                <li><a href="#">Тег-14</a></li>
                <li><a href="#">Тег-15</a></li>
                <li><a href="#">Тег-16</a></li>
              </ul>
            </div>
            <div class="banner-sitebar"><img src="img/image-3.jpg" alt="#"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
