
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo"><img src="img/logo-white.png" alt="#"/>
          <h6>РЕЦЕПТ СЧАСТЬЯ</h6>
        </div>
        <ul class="menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Помощ на расстоянии и лично</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Гарантии</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <form>
          <div class="input">
            <input type="text" placeholder="Ваше имя"/>
          </div>
          <div class="input">
            <input type="email" placeholder="Ваш Email"/>
          </div>
          <div class="input">
            <input type="submit" value="Призыв к действию"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
