
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo"><a href="#"><img src="img/logo.png" alt="#"/></a></div>
        <div class="burger-menu"><span></span><span></span><span></span></div>
        <ul class="menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Помощ на расстоянии и лично</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Гарантии</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
