/**
custom-icons Webfont
*/

@font-face {
    font-family: 'GOTHIC';
    src: url('../fonts/GOTHIC.ttf');
    src: url('../fonts/GOTHIC-icons.eot') format('embedded-opentype'), url('../fonts/GOTHIC-icons.woff2') format('woff2'), url('../fonts/customGOTHICicons.woff') format('woff'), url('../fonts/GOTHIC-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1552645825837');
    src: url('../fonts/custom-icons.eot?#iefix-1552645825837') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1552645825837') format('woff2'), url('../fonts/custom-icons.woff?1552645825837') format('woff'), url('../fonts/custom-icons.ttf?1552645825837') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-mail:before {
        content: '\ea01';
    }
    .icon-marker:before {
        content: '\ea02';
    }
    .icon-tel:before {
        content: '\ea03';
    }
    .icon-viber:before {
        content: '\ea04';
    }
    .icon-whatsapp:before {
        content: '\ea05';
    }
