$gray:#333;

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    .col-lg-12{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
    }
    .menu{
        li{
            margin: 0 15px;
        }
        a{
            display: block;
            color: $gray;
            font-weight: 700;
        }
    }
}
.inner-page{
	header{
		.col-lg-12{
			align-items: flex-end;
		}
	}
}
