$gray:#333;
$white:#fff;
@mixin transition($s, $animation) {
	-webkit-transition: all $s $animation;
	-moz-transition: all $s $animation;
	-ms-transition: all $s $animation;
	-o-transition: all $s $animation;
	transition: all $s $animation;
}
@mixin transform($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}
.banner {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	background-color: $white;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: auto 100%;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	position: relative;
	& + .categories{
		margin-top: 50px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-image: url(../img/Subtract.png);
		width: 590px;
		background-position: center right;
		background-size: 100% 100%;
	}
	.container {
		width: 100%;
		.desc {
			padding: 30px 20px 45px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			max-width: 656px;
		}
	}
	img {
		margin-bottom: 20px;
		height: 101px;
	}
	h1 {
		font-weight: 900;
		font-size: 48px;
		margin-bottom: 30px;
	}
	h4 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 35px;
	}
	p {
		background: linear-gradient(115.98deg, #963578 22.01%, #5E1577 104.01%);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		padding: 25px 35px;
		color: $white;
		font-size: 24px;
		font-weight: 700;
		max-width: 616px;
		width: 100%;
		margin-bottom: 30px;
	}
	.button {
		background: linear-gradient(133.24deg, #792285 25.64%, #A10759 136.18%);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		font-size: 24px;
		color: $white;
		display: table;
		max-width: 300px;
		width: 100%;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font-weight: 700;
	}
}
.description {
	padding-top: 70px;
	img{
		width: 100%;
	}
	h2 {
		font-size: 36px;
		text-align: center;
		font-weight: 900;
		margin-bottom: 20px;
		& + .desc {
			margin-top: 75px;
		}
	}
	h4 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 70px;
	}
	.desc {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.left-block {
		width: calc(100% - 475px);
		padding-right: 40px;
		p {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.button{
			background: linear-gradient(134.36deg, #84A9FF 25.64%, #A10759 136.18%);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 3px;
			max-width: 266px;
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: $white;
			font-size: 20px;
			font-weight: 700;
			display: block;
			margin-top: 50px;
		}
	}
	.right-block {
		width: 475px;
	}
}
.articles,
.cat-sections{
	padding-top: 70px;
	h2{
		font-size: 36px;
		text-align: center;
		font-weight: 900;
		margin-bottom: 20px;
	}
	.articles-button{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
		li{
			width: calc(100% / 5 - 12.5px);
			margin-bottom: 15px;
			a{
				display: block;
				width: 100%;
				text-align: center;
				background: $white;
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
				height: 48px;
				line-height: 48px;
				font-size: 20px;
				font-weight: 700;
				color: $gray;
				padding: 0 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.sizer{
		width: calc(100% / 3 - 20px);
	}
	.item {
		width: calc(100% / 3 - 20px);
		margin-bottom: 30px;
		background: $white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		padding: 10px;
		position: relative;
		@include transition(0.5s ease);
		&:hover{
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
		}
		.link{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
		&.no-img {
			padding: 70px 10px;
		}
		img {
			width: 100%;
			margin-bottom: 10px;
		}
		h5 {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;
			padding: 0 10px;
		}
		p {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 20px;
			padding: 0 10px;

		}
	}
}
.form {
	background: linear-gradient(109.03deg, #963578 22.01%, #5E1577 104.01%);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	color: $white;
	padding: 50px 0;
	margin-top: 100px;
	h2 {
		font-size: 36px;
		text-align: center;
		font-weight: 900;
		margin-bottom: 25px;
	}
	p {
		font-size: 18px;
		text-align: center;
		max-width: 890px;
		width: 100%;
		margin: 0 auto 20px;
		display: table;
	}
	form{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 620px;
		width: 100%;
		margin: 50px auto 0;
		justify-content: center;
		.input{
			width: calc(100% / 2 - 5px);
			&:first-of-type{
				margin-right: 10px;
			}
			input{
				width: 100%;
				height: 40px;
				color: $gray;
				&[type="text"],
				&[type="email"]{
					padding: 0 15px;
					font-size: 13px;
					border-radius: 2px;
					border: 1px solid #E2E2E2
				}
				&[type="submit"]{
					margin-top: 35px;
					border: 1px solid $white;
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
					border-radius: 3px;
					font-size: 20px;
					font-weight: 500;
					background: transparent;
					color: $white;
					height: 48px;
				}
			}
		}
	}
}
.page404{
	h1{
		font-size: 144px;
		color: $white;
		background: linear-gradient(106.69deg, #963578 22.01%, #5E1577 104.01%);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		padding: 0px 80px;
		margin-bottom: 80px;
	}
	.banner{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-size: cover;
		background-position: center center;
		height: 600px;
		align-items: center;
		&:before{
			display: none;
		}
	}
}
.blog{
	padding: 40px 0 60px;
	img{
		height: auto;
	}
	.banner{
		height: 300px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center;
		margin-bottom: 20px;
		padding: 0 20px;
		h1{
			color: $white;
		}
		&:before{
			display: none;
		}
	}
	h1{
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin-bottom: 0px;
	}
	p{
		margin-bottom: 10px;
		line-height: 1.2;
		font-size: 18px;
		& + .wp-block-image{
			img{
				padding-top: 50px;
			}
		}
	}
	ul,ol{
		li{
			margin-bottom: 15px;
			list-style-position: inside;
		}
	}
	ul{
		list-style: disc;
		& > ul{
			padding-left: 20px;
		}
	}
	ol{
		list-style: decimal;
		& > ol{
			padding-left: 20px;
		}
	}
	blockquote{
		display: table;
		margin: 30px auto;
		clear: both;
		width: 70%;

	}
	a{
		color: #5581f5;
	}
	strong{
		font-weight: 700;
	}
	i{
		font-style: italic;
	}
	.wp-block-image,
	img{
		& + p{
			padding-top: 50px;
		}
	}
	.aligncenter{
		display: table;
		margin: 0 auto;
		clear: both;

		img{
			padding: 50px 0 0;
		}
		& + p{
			padding-top: 0;
		}
	}
	.align-right{
		float: right;
		padding: 50px 0px 50px 50px;
	}
	.align-left{
		float: left;
		padding: 50px 50px 50px 0px;
	}
	.alignleft {
		float: left;
		img{
			padding: 50px 50px 50px 0px;
		}
	}
	.alignright{
		float: right;
		img{
			padding: 50px 0px 50px 50px;
		}
	}
	.button{
		background: linear-gradient(138.3deg, #84A9FF 25.64%, #A10759 136.18%);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		font-size: 20px;
		font-weight: 700;
		color: $white;
		line-height: 52px;
		max-width: 320px;
		width: 100%;
		display: table;
		margin: 40px auto;
		text-align: center;
	}
}
.contacts{
	padding: 50px 0 100px;
	p{
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 15px;
	}
	ul{
		margin-bottom: 15px;
	}
	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.left-block {
		width: 340px;
		padding-right: 20px;
	}
	.right-block {
		width: calc(100% - 340px);
	}
	.tel{
		position: relative;
		padding-left: 30px;
		&:before{
			font-size: 20px;
			position: absolute;
			left: 4px;
			top: 50%;
			@include transform(0,-50%);
			color: #5581f5;
		}
		a{
			color: $gray;
		}
	}
	.address{
		li{
			margin-bottom: 15px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		a{
			color: $gray;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			&:before{
				color: #5581f5;
				font-size: 20px;
				margin-right: 10px;
			}
		}
	}
	.soc{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		li{
			margin-right: 20px;
			&:last-of-type{
				margin-right: 0;
			}
		}
		a{
			&.icon-viber{
				&:before{
					color: #7D3DAF;
				}
			}
			&.icon-telegram{
				&:before{
					content: '';
					position: relative;
					width: 25px;
					height: 25px;
					display: inline-block;
					background-image: url(../img/telegram.svg);
					background-size: cover;
				}
			}
			&.icon-whatsapp{
				&:before{
					color: #4CAF50;
				}
			}
			&:before{
				font-size: 25px;
			}
		}
	}
	#map{
		width: 100%;
		height: 250px;
	}
}
.articles{
	&.categories{
		padding-top: 0px;
	}
}
.categories{

	.items{
		width: calc(100% - 380px);
		.item,
		.sizer{
			width: calc(100% / 2 - 20px);
		}
	}
	.sitebar{
		width: 360px;
		margin-left: 20px;
		margin-bottom: 50px;
		.image{
			width: 100%;
		}
		h3{
			background: linear-gradient(122.14deg, #963578 22.01%, #5E1577 104.01%);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 3px 3px 0 0;
			color: $white;
			font-size: 24px;
			font-weight: 700;
			line-height: 60px;
			padding: 0 20px;
		}
		.cat{
			li{
				border-bottom: 1px solid #c4c4c4;
				&:last-of-type{
					border: none;
				}
			}
		}
		.tagcloud{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 10px;
			background: $white;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 0 0 3px 3px;
			margin-bottom: 15px;
			a{
				padding: 0 5px;
				line-height: 48px;
				font-size: 16px !important;
				color: $gray;
				@include transition(0.5s ease);
				&:hover{
					color: #1E78FF;
				}
			}
		}
		ul{
			background: $white;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 0 0 3px 3px;
			padding: 0 20px;
			margin-bottom: 15px;
			a{
				line-height: 48px;
				font-size: 16px;
				color: $gray;
				@include transition(0.5s ease);
				&:hover{
					color: #1E78FF;
				}
			}
		}
	}
	.banner-sitebar{
		margin-bottom: 15px;
		img{
			width: 100%;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 3px;
		}
	}
	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.blog .attachment-post-thumbnail{
	float: right;
	padding: 50px 0 50px 50px;
}
section{
	padding-bottom: 50px;
}
.last-posts{
	h2{
		font-size: 36px;
		font-weight: 900;
		margin-bottom: 35px;
	}
	.item {
		width: calc(100% / 3 - 20px);
		margin-bottom: 30px;
		background: $white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		padding: 10px;
		position: relative;
		@include transition(0.5s ease);
		margin-right: 30px;
		&:nth-of-type(3n){
			margin-right: 0;
		}
		&:hover{
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
		}
		.link{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
		img {
			width: 100%;
			margin-bottom: 10px;
			height: 280px;
			object-fit: cover;
			object-position: center;
		}
		h5 {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;
			padding: 0 10px;
		}
	}
	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
