$gray:#333;
$white:#fff;
@mixin transition($s, $animation) {
	-webkit-transition: all $s $animation;
	-moz-transition: all $s $animation;
	-ms-transition: all $s $animation;
	-o-transition: all $s $animation;
	transition: all $s $animation;
}
@mixin transform($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}
footer{
	padding: 75px 0;
	background: linear-gradient(112.44deg, #963578 22.01%, #5E1577 104.01%);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 3px 3px 0 0 ;
	margin-top: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	.col-lg-12 {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}
	.logo{
		img{
			height: 101px;
		}
		h6{
			font-weight: 900;
			color: $white;
			text-transform: uppercase;
			margin-top: 10px;
		}
	}
	.menu{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction:column;
		li{
			margin-bottom: 10px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		a{
			font-size: 18px;
			font-weight: 700;
			color: $white;
		}
	}
	form{
		max-width: 300px;
		width: 100%;
		.input{
			margin-bottom: 20px;
			input{
				width: 100%;
				height: 40px;
				color: $gray;

				&[type="text"],
				&[type="email"]{
					padding: 0 15px;
					font-size: 13px;
					border-radius: 2px;
					border: 1px solid #E2E2E2
				}
				&[type="submit"]{
					border: 1px solid $white;
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
					border-radius: 3px;
					font-size: 20px;
					font-weight: 500;
					background: transparent;
					color: $white;
					height: 48px;
				}
			}
		}
	}
}
