$gray:#333;
@mixin transition($s, $animation) {
	-webkit-transition: all $s $animation;
	-moz-transition: all $s $animation;
	-ms-transition: all $s $animation;
	-o-transition: all $s $animation;
	transition: all $s $animation;
}
@mixin transform($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}
@media only screen and (max-width: 1365px) {
	.banner {
		max-width: 100%;
		width: calc(100% - 60px);
	}
}
@media only screen and (max-width: 1199px) {
	.banner {
		&:before {
			width: 426px;
		}
		.container {
			.desc {
				max-width: 520px;
			}
		}
		img {
			margin-bottom: 10px;
			height: 80px;
		}
		h1 {
			font-size: 34px;
			margin-bottom: 20px;
		}
		p {
			max-width: 480px;
			font-size: 18px;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		.button {
			font-size: 18px;
			max-width: 220px;
			height: 50px;
			line-height: 50px;
		}
	}
	.description {
		h2 {
			font-size: 30px;
		}
		h4 {
			font-size: 20px;
		}
		.left-block {
			p {
				font-size: 14px;
			}
		}
	}
	.articles,
	.cat-sections {
		h2 {
			font-size: 30px;
		}
		.articles-button {
			li {
				a {
					font-size: 16px;
				}
			}
		}
		.item {
			&.no-img {
				padding: 50px 10px;
			}
			h5 {
				font-size: 16px;
			}
			p {
				font-size: 14px;
			}
		}
	}
	.form {
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 16px;
			max-width: 780px;
		}
	}
	.page404 {
		.banner{
			height: 540px;
			width: 100%;
			h1{
				font-size: 120px;
			}
		}
	}
	.categories
	{
		.sitebar {
			width: 293px;
		}
		.items {
			width: calc(100% - 313px);
		}
	}
	.home
	{
		header{
			.menu {
				li {
					margin: 0 7px;
				}
			}
		}
	}
	.inner-page{
		header{
			.menu{
				 li {
					margin: 0 10px;
					&:last-of-type{
						margin-right: 0;
					}
				}
				a{
					font-size: 14px;
				}
			}
		}
	}
	.last-posts {
		.item {
			img{
				height: 230px;
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.home
	{
		header{
			.menu {
				a{
					font-size: 11px;
				}
			}
		}
	}
	.inner-page {
		header {
			.menu {
				width: calc(100% - 75px);
				a {
					font-size: 14px;
				}
			}
			.col-lg-12 {
				align-items: flex-end;
				height: 80px;
			}
		}
	}
	header {
		.menu {
			width: 100%;
			justify-content: space-between;
			li {
				margin: 0 5px;
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-tepe {
					margin-right: 0;
				}
			}
		}
	}
	.banner {
		background-size: cover;
		background-position: center;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.7);
		}
		.container {
			.desc {
				align-items: center;
				margin: 0 auto;
			}
		}
	}
	.description {
		.right-block {
			width: 310px;
		}
		.left-block {
			width: calc(100% - 310px);
			padding-right: 20px;
			p {
				margin-bottom: 10px;
				font-size: 12px;
			}
		}
		h4 {
			font-size: 16px;
			margin-bottom: 30px;
		}
	}
	.articles,
	.cat-sections {
		.item {
			width: calc(100% / 2 - 20px);
			&.no-img {
				padding: 30px 10px;
			}
		}
	}
	footer {
		form {
			max-width: 230px;
		}
		.menu {
			a {
				font-size: 14px;
			}
		}
	}
	.blog {
		img {
			& + p {
				padding-top: 20px;
			}
		}
		.align-right {
			padding: 20px 0 20px 20px;
		}
		.align-left {
			padding: 20px 20px 20px 0;
		}
		.align-center {
			padding: 20px 0 30px;
		}
	}
	.page404
	{
		.banner
		{
			height: 440px;
		}
	}
	.blog {
		.banner{
			width: 100%;
			height: 200px;

		}
	}
	.articles,
	.cat-sections {
		.sizer{
			width: calc(100% / 2 - 20px);
		}
	}
	.categories{
		.items
		{
			.item,
			.sizer{
				width: 100%;
			}
		}
	}
	.inner-page{
		header{
			.logo
			{
				img {
					height: 50px;
				}
			}
			.menu{
				width: calc(100% - 60px);
				 li {
					margin: 0 5px;
					&:last-of-type{
						margin-right: 0;
					}
				}
				a{
					font-size: 11px;
				}
			}
		}
	}
	.last-posts {
		.item {
			img{
				height: 180px;
			}
		}
	}
}
@media only screen and (min-width: 767px) {
	.menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
	header {
		.logo {
			display: none;
		}
	}
	.inner-page {
		header {
			.col-lg-12 {
				height: 100px;
			}
			.logo {
				display: block;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				img {
					height: 59px;
				}
			}
		}
	}
	body {
		padding-bottom: 392px;
	}
}
@media only screen and (max-width: 767px) {

	.inner-page {
		header {
			.col-lg-12 {
				height: 60px;
				align-items: center;
			}
		}
	}
	body {
		padding-top: 60px !important;
		padding-bottom: 258px;
	}
	.banner {
		width: calc(100% - 30px);
		p {
			padding: 25px 15px;
		}
		.container {
			.desc {
				padding: 30px 0px 45px;
			}
		}
	}
	header {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
		background-image: url(../img/bg.png);

		.col-lg-12 {
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.logo {
			img {
				height: 50px;
			}
		}
		.menu {
			z-index: 1;
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			width: 320px;
			background-image: url(../img/bg.png);
			padding: 60px 15px 0 15px;
			box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
			@include transform(100%, 0);
			@include transition(0.5s ease);
			overflow-y: auto;
			li {
				margin-top: 30px !important;
				&:last-of-type{
					margin-bottom: 50px;
				}
				a {
					font-size: 18px !important;
				}
			}
		}
	}
	.burger-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		height: 40px;
		width: 50px;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 2;
		span {
			display: block;
			width: 100%;
			height: 7px;
			background: #333;
			@include transition(0.5s ease);
		}
		&.close {
			span {
				&:first-of-type {
					transform: rotate(45deg) translate(12px, 12px);
				}
				&:nth-of-type(2) {
					opacity: 0;
				}
				&:last-of-type {
					transform: rotate(-45deg) translate(12px, -12px);
				}
			}
			& + .menu {
				@include transform(0%, 0);
			}
		}
	}
	.description {
		h2 {
			& + .desc {
				margin-top: 30px;
			}
		}
	}
	.description,
	.articles,
	.cat-sections {
		padding-top: 40px;
		h2 {
			font-size: 24px;
		}
	}
	.form {
		margin-top: 40px;
		padding: 30px 0;
	}
	br {
		display: none;
	}
	footer {
		padding: 35px 0;
		form {
			max-width: 100%;
			width: calc(100% - 200px);
			padding-left: 20px;
		}
		.menu {
			display: none;
		}
	}
	.description {
		.left-block {
			width: 100%;
			padding-right: 0;
			order: 1;
			p {
				font-size: 16px;
			}
			.button {
				margin: 50px auto 0;
			}
		}
		.right-block {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.blog {
		img {
			width: 100%;
		}
		p {
			font-size: 14px;
		}
		h1 {
			font-size: 24px;
		}
	}
	.page404
	{
		padding-top: 25px;
		.banner
		{
			height: calc(65vw  - 30px);
			h1{
				font-size: 12vw;
			}
		}
	}
	.contacts{
		.right-block{
			width: 100%;
		}
		.left-block{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.blog .attachment-post-thumbnail{
		padding: 0 0 20px;
	}
	.last-posts {
		 h2 {
			 font-size: 24px;
		}
		.item {
			width: 100%;
			margin-right: 0;
			img {
				height: calc(92vw - 100px);
			}
		}
	}
}
@media only screen and (max-width: 679px) {
	.categories {
		.sitebar {
			width: 220px;
			h3{
				font-size: 18px;
				line-height: 40px;
			}
			ul
			{
				a {
					line-height: 38px;
					font-size: 12px;
				}
			}
		}
		.items{
			width: calc(100% - 240px);
		}
	}
}
@media only screen and (max-width: 579px) {
	.articles,
	.cat-sections {
		.item {
			width: 100%;
		}
		.articles-button {
			justify-content: center;
			margin-bottom: 15px;
			li {
				width: calc(100% / 3 - 7px);
				margin-bottom: 10px;
				margin-right: 10px;
				&:nth-of-type(3n) {
					margin-right: 0;
				}
				a {
					font-size: 12px;
					height: 36px;
					line-height: 36px;
				}
			}
		}
	}
	.blog {
		.alignright,
		.alignleft{
			width: 100%;
			float: none;
			img{
				padding: 0px 0;
			}
		}
		p {
			& + .wp-block-image {
				img{
					padding-top: 20px;
				}
			}
		}
		.wp-block-image,
		img
		{
			& + p{
				padding-top: 20px;
			}
		}
		.aligncenter{
				width: 100%;
			img{
				padding: 20px 0 0;
			}
		}
	}
}
@media only screen and (max-width: 479px) {
	.banner {
		h1 {
			font-size: 26px;
		}
	}
	.form {
		form {
			flex-direction: column;
			margin-top: 30px;
			.input {
				width: 100%;
				margin-bottom: 20px;
				input {
					&[type="submit"] {
						margin-top: 0;
					}
				}
			}
		}
	}
	footer {
		.logo {
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}
		form {
			padding-left: 0;
			width: 100%;
		}
	}

	.blog {
		blockquote{
			width: 85%;
		}
		img{
			max-width: 100%;
			width: 100%;
			float: none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			& + p{
				padding: 0;
			}
		}
		p{
			font-size: 16px;
		}
	}
	body{
		padding-bottom: 411px;
	}
	.categories {
		.sitebar{
			width: 100%;
			margin-left: 0;
		}
		.items{
			width: 100%;
		}
	}
}
@media only screen and (max-width: 379px) {}
